<div id="container">
    <div id="page-header">
        <h1> MongoDB Website Scraper </h1>
    
        <button id ="saved-button" class="buttons">Saved Articles</button>
        <button id ="scrape-button" class="buttons">Scrape Website</button>
    </div>
    <div id="article-container">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque mollitia unde deleniti tenetur excepturi inventore adipisci ipsum, maiores provident, doloremque culpa, distinctio quia nam. Labore quae dicta id aperiam debitis.</p>
        
        
    </div>
    
</div>