<div id="container">
    <div id="page-header">
        <h1> MongoDB Website Scraper </h1>

        <button href="/saved"id="saved-button" class="buttons">Saved Articles</button>
        <button href="/scrape" id="scrape" class="buttons">Scrape Website</button>
          <button id="clear-button" class="buttons">Clear Articles</button>
    </div>
    <div id="bottom-container">
        <div id="articles"></div>
        <div id="notes"></div>
    </div>

</div>